doctype html
html(prefix="og:http://ogp.me/ns#")
  head
    title
      |Google Geocoding API
    meta(charset="utf-8")
    meta(name="keywords", content="")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(property="og:type", content="website")
    meta(property="og:image", content="")
    meta(property="og:title", content="")
    meta(property="og:description", content="")
    meta(property="og:url", content="")
    
    link(href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="assets/css/index.css", type="text/css")

  body
    canvas
    
    script(src="assets/js/lib.js")
    script(src="assets/js/index.js")
